.container {
  width: 100%;
  text-align: center;
}
.container input {
  width: 65%;
}

.table {
  width: 65%;
  margin: auto;
  border-collapse: collapse;
}
.table tr {
  width: 80%;
  border: 1px solid grey;
}
.table tr:hover {
  background-color: lightgray;
}
.table tr th {
  width: 28%;
  border: 1px solid grey;
}
.pagination {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 2%;
  text-decoration: none;
  list-style: none;
  margin: auto;
  cursor: pointer;
}
.btn {
  display: flex;
  gap: 0.3%;
}
.previous {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.selected {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.next {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}
.footer {
  display: inline-flex;
}
.deleteall {
  background-color: orangered;
  margin-top: 10px;
  cursor: pointer;
}
.pagination {
  padding: 10px;
  margin: 10px 40px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.pagination > span {
  padding: 5px 10px;
  border: 1px solid grey;
  cursor: pointer;
}
.pagination__selected {
  background-color: rgb(220, 220, 220);
}
.pagination-disable {
  opacity: 0;
}
.error-message {
  color: red;
  font-size: 12px;
}
